
.vs/CrudApps/
obj/Debug/net6.0/CrudApps.assets.cache
obj/project.assets.json
obj/project.nuget.cache
obj/project.assets.json
.vs/CrudApps/FileContentIndex/9722a02c-b071-49bb-a8e3-1829095ac942.vsidx
*.vsidx